/* Global styles, reset, and variables */
:root {
  --text-large: 2rem;
  --text-medium: 1.5rem;
  --text-small: 1rem;
}

* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

html {
  background-color: #121212;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

#root {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #root {
    width: 90%;
  }
}

/* Font Sizes */


/* Header */

@media only screen and (max-width: 768px) {
  #selection {
    border-radius: 0 0 1rem 0;
  }
}

/* Toggle */

#radio {
  font-size: var(--text-medium);
  padding: .5rem 0;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

#radio input {
  font-size: var(--text-medium);
  font-weight: 400;
  color: white;
	appearance: none;
  position: relative;
	outline: none;
	cursor: pointer;
  margin-left: .5rem;
  transition: .4s;
  color: grey;
}

#radio input:checked {
  font-weight: 700;
  color: white;
}

#radio input:checked::before {
  text-decoration: solid underline #EEB76B 4px;
}

#radio input:before {
	content: attr(value);
  text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}

/* Search bar */

#search-bar {
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  display: grid;
  grid-template-columns: 7fr 1fr;
  justify-items: center;
  align-items: center;
  padding: .75rem 1.5rem;
}

#search-input {
  width: 100%;
  outline: none;
  font-size: var(--text-large);
}

#search-bar p {
  color: black;
  cursor: pointer;
}

#search-bar p:hover {
  color: grey;
}

/* Main content container */

#main-content {
  position: relative;
  width: 100%;
  margin-top: .5rem;
}

/* Autocomplete dialog */

#autocomplete-container {
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  z-index: 2;
  font-size: var(--text-small);
  background-color: #121212;
}

#autocomplete-container p {
  padding-bottom: .5rem;
}

.autocomplete-option {
  width: 100%;
  background-color: transparent;
  color: white;
  padding: .5rem 1rem;
  text-align: left;
}

.autocomplete-option:hover {
  background-color: #EEB76B;
  border-radius: 1rem;
  color: #121212;
}

/* Media details */
.detail-title {
  font-size: var(--text-large);
}

#details h3 {
  font-size: var(--text-small);
  font-weight: 400;
}

#scores {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#scores .btn {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, .02);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: .25rem .5rem;
  transition: .25s;
}

#scores .btn:hover {
  opacity: .6;
}

#scores .meter {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

.btn {
  font-size: var(--text-medium);
}

.btn p {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.btn p span {
  font-size: var(--text-small);
  color: white;
}